.what-back-main {
  margin-bottom: 34rem;
}
.what-back-nav1 {
  img {
    transform: translateX(110%);
  }
}
.what-back-nav2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 85%;
  .what-back-nav2-item2 {
    width: 80%;
    position: absolute;
    left: -38%;
    top: 80%;
  }
}

.what-back-nav3-item {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 68%;
  position: relative;
  z-index: 99999;
}
.what-back-videomain {
  position: relative;
  padding: 22rem 0;
  margin: -22rem 0;
  overflow: hidden;
  .what-back-video1 {
    position: absolute;
    left: -20%;
    margin-top: -10%;
  }
  .what-back-video2 {
    position: absolute;
    top: 32%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .what-back-videomain-nav {
    display: flex;
    justify-content: space-evenly;
    position: relative;

    .what-back-videomain-nav-1 {
      display: flex;
      flex-direction: column;
      .what-back-videomain-img1 {
        position: absolute;
        left: 10%;
        top: -86%;
      }
      .what-back-videomain-img2 {
        position: absolute;
        left: 18%;
        top: 60%;
      }
    }

    .what-back-videomain-nav-2{
      position: relative;
      top: 60%;
    }
  }
  .what-back-nav3-item1 {
    position: absolute;
    right: -29%;
    width: 56%;
  }
  .what-back-nav3-item2 {
    width: 70%;
    margin-top: 47%;
    z-index: 1;
    transform: translateX(30%);
  }
}

.content-detail {
  text-align: center;
  .detail {
    margin: 14rem 0 6rem 0;
    h6 {
      font-family: Montserrat;
      font-size: 3.5rem;
      font-weight: 800;
      line-height: 1.2;
      letter-spacing: 1.8rem;
      text-transform: uppercase;
      color: var(--black-two);
    }
    p {
      margin-top: 3rem;
      font-family: Montserrat;
      font-size: 2rem;
      line-height: 1.6;
      text-align: center;
      color: var(--black-two);
    }
    button {
      font-size: 2.4rem;
      font-weight: 800;
      padding: 1.2rem 2.8rem;
      text-transform: uppercase;
      background-color: var(--style-color);
      border: 3px solid var(--dark-maroon);
      margin-top: 3.5rem;
    }
  }
  img {
    width: 70%;
    z-index: 999999;
  }
}
